.top-buffer { margin-top:20px; }

.footer {
	position: fixed;
	bottom: 20px;
}

#commandList {
	width: 100%;
	list-style-type: none;
	list-style-position: none;
	margin: 0;
	padding: 0;
	height: 250px;
	overflow: scroll;
}

#commandList li {
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

.currentCommand {
	background-color: #D44 !important;
}

#commandList li:nth-child(odd) {
	background-color: #AAA;
}

#commandList li:nth-child(even) {
	background-color: #888;
}

.clicked {
	color: #888;
}
