.top-buffer { margin-top:20px; }

.footer {
	position: fixed;
	bottom: 20px;
}

.commandList {
	border: 1px solid black;
	width: 100%;
}

.commandList li:nth-child(odd) {
	background-color: #AAA;
}

.commandList li:nth-child(even) {
	background-color: #888;
}

